/* -------------------- ---------- MOBILE ---------- -------------------- */

    /* -------------------- ---------- MOBILE ---------- -------------------- */

        /* -------------------- ---------- MOBILE ---------- -------------------- */
            @media screen and (max-width: 650px) {   
                /* -------------------- -------------------- STYLES CREATED DURING [Home - PAGE] -------------------- -------------------- */
                    /* -------------------- Nav container -------------------- */
                        /* Navbar container*/
                        .home-nav-wrap{
                            width: 100%;
                        }
                        .nav-split{
                            display: flex;
                        }
                    /* --------------------  -------------------- */



                    /* --------------------  -------------------- */       
                        /* Popular container */
                        .popular-section-con{
                            width: 100vw;
                        }
                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */
                        .foot-scroll-con{
                            width: 100vw;
                        }
                        
                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */
                        .scrollbar-padding-right{
                            padding-right: 2em;
                        }
                    /* -------------------- --------------------  -------------------- */



                    /* -------------------- Foot scroll container -------------------- */
                        .foot-scroll-con{
                            padding-bottom: 0em;
                        }
                        .profile-container{
                            right: 4%;
                            width: 82.5%;
                        }
                    /* -------------------- --------------------  -------------------- */
                /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [Item - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */
                    .item-img-display{
                        width: 50%;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .item-section-con{
                        width: 100vw;
                        padding-left: 3em;
                        padding-right: 2em;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .item-fixed-wrap{
                        width: 100%;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .item-btn-line{
                        height: 0.035em;
                        border-radius: 300em;
                        width: 100%;
                        -webkit-box-shadow: inset 0 0 6px rgba(225, 225, 225, 255);
                    }
                    .carousel-img-fluid{
                        max-height: 1.5em;
                    }
                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [LIST - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */
                	.list-row{
                		columns: 2;
                	}
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .menu-nav-exit-img{
                        display: flex;
                    }
                    .social-nav-con{
                        margin-bottom: 5.5em;
                    }
                    .social-input-con{
                        padding: 5em 0 0 0;
                    }
                    .social-img{
                        display: flex;
                    }
                    .facebook-social-display {
                        display: none;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [MENU - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */
                .hamburger-menu{
                    background: rgba(255, 255, 255, 255);
                }
                .checkout-delivery-btn{
                    margin-top: 3em;
                }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */
            }
        /* -------------------- ---------- MOBILE ---------- -------------------- */

    /* -------------------- ---------- MOBILE ---------- -------------------- */

/* -------------------- ---------- MOBILE ---------- -------------------- */










/* -------------------- ---------- TABLET ---------- -------------------- */

    /* -------------------- ---------- TABLET ---------- -------------------- */

        /* -------------------- ---------- TABLET ---------- -------------------- */

            @media screen and (min-width: 650px) and (max-width: 992px) {
                
                /* -------------------- -------------------- STYLES CREATED DURING [Home - PAGE] -------------------- -------------------- */
                    /* -------------------- Nav container -------------------- */
                        /* Navbar container*/
                        .home-nav-wrap{
                            width: 90%;
                        }
                        .nav-split{
                            display: flex;
                        }
                    /* --------------------  -------------------- */

                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */       
                        /* Popular container */
                        .popular-section-con{
                            width: 90vw;
                        }
                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */
                        .foot-scroll-con{
                            width: 90vw;
                        }
                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */
                        .scrollbar-padding-right{
                            padding-right: 3em;
                        }
                    /* -------------------- --------------------  -------------------- */



                    /* -------------------- Foot scroll container -------------------- */
                        .foot-scroll-con{
                            padding-bottom: 0em;
                        }
                    
                        .profile-container{
                            right: 15%;
                            width: 50%;
                        }
                    /* -------------------- --------------------  -------------------- */
                /* -------------------- -------------------- -------------------- -------------------- -------------------- */





                /* -------------------- -------------------- STYLES CREATED DURING [Item - PAGE] -------------------- -------------------- */
                    /* --------------------  -------------------- */
                        .item-img-display{
                            width: 60%;
                        }
                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */
                        .item-section-con{
                            width: 90vw;
                            padding-left: 5em;
                            padding-right: 3.5em;
                        }
                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */
                        .item-fixed-wrap{
                            width: 90%;
                        }
                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */
                        .item-btn-line{
                            height: 0.05em;
                            border-radius: 300em;
                            width: 100%;
                            -webkit-box-shadow: inset 0 0 6px rgba(225, 225, 225, 255);
                        }
                        .carousel-img-fluid{
                            max-height: 2.25em;
                        }
                    /* -------------------- --------------------  -------------------- */
                /* -------------------- -------------------- -------------------- -------------------- -------------------- */





                /* -------------------- -------------------- STYLES CREATED DURING [LIST - PAGE] -------------------- -------------------- */
                    /* --------------------  -------------------- */
                        .list-row{
                            columns: 2;
                        }
                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */
                        .menu-nav-exit-img{
                            display: flex;
                        }
                        .social-nav-con{
                            margin-bottom: 7.5em;
                        }
                        .social-input-con{
                            padding: 7.5em 0 0 0;
                        }
                        .social-img{
                            display: flex;
                        }
                        .facebook-social-display {
                            display: none;
                        }
                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */

                    /* -------------------- --------------------  -------------------- */
                /* -------------------- -------------------- -------------------- -------------------- -------------------- */





                /* -------------------- -------------------- STYLES CREATED DURING [MENU - PAGE] -------------------- -------------------- */
                    /* --------------------  -------------------- */
                        .hamburger-menu{
                            background: rgba(255, 255, 255, 255);
                        }
                        .checkout-delivery-btn{
                            margin-top: 2em;
                        }
                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */

                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */

                    /* -------------------- --------------------  -------------------- */
                /* -------------------- -------------------- -------------------- -------------------- -------------------- */





                /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                    /* --------------------  -------------------- */

                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */

                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */

                    /* -------------------- --------------------  -------------------- */
                /* -------------------- -------------------- -------------------- -------------------- -------------------- */





                /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                    /* --------------------  -------------------- */

                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */

                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */

                    /* -------------------- --------------------  -------------------- */
                /* -------------------- -------------------- -------------------- -------------------- -------------------- */





                /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                    /* --------------------  -------------------- */

                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */

                    /* -------------------- --------------------  -------------------- */



                    /* --------------------  -------------------- */

                    /* -------------------- --------------------  -------------------- */
                /* -------------------- -------------------- -------------------- -------------------- -------------------- */
            }

        /* -------------------- ---------- TABLET ---------- -------------------- */

    /* -------------------- ---------- TABLET ---------- -------------------- */

/* -------------------- ---------- TABLET ---------- -------------------- */










/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

    /* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

        @media screen and (min-width: 992px) and (max-width: 1200px) {
            /* -------------------- -------------------- STYLES CREATED DURING [LIST - PAGE] -------------------- -------------------- */
                /* -------------------- Nav container -------------------- */
                    /* Navbar container*/
                    .home-nav-wrap{
                        width: 72.5%;
                    }
                    .nav-split{
                        display: none;
                    }
                /* --------------------  -------------------- */



                /* --------------------  -------------------- */       
                    /* Popular container */
                    .popular-section-con{
                        width: 72.5vw;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .foot-scroll-con{
                        width: 72.5vw;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .scrollbar-padding-right{
                        padding-right: 3.5em;
                    }
                /* -------------------- --------------------  -------------------- */



                /* -------------------- Foot scroll container -------------------- */
                    .foot-scroll-con{
                        padding-bottom: 2em;
                    }
                    
                    .profile-container{
                        right: 30%;
                        width: 35%;
                    }
                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [Item - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */
                    .item-img-display{
                        width: 45%;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .item-section-con{
                        width: 72.5vw;
                        align-items: center;
                        justify-content: center;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .item-fixed-wrap{
                        width: 72.5%;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .item-btn-line{
                        height: 0.06em;
                        border-radius: 300em;
                        width: 100%;
                        -webkit-box-shadow: inset 0 0 6px rgba(225, 225, 225, 255);
                    }
                    .carousel-img-fluid{
                        max-height: 3em;
                    }
                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [LIST - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */
               		.list-row{
               			columns: 3;
           			}
                    .social-nav-con{
                        margin-bottom: 2em;
                    }
                    .social-input-con{
                        padding: 2.5em 1em 2.5em 1em;
                        background: rgba(255, 255, 255, 255);
                        border-radius: 1em;
                    }
                    .social-img{
                        display: none;
                    }
                    .facebook-social-display {
                        display: flex;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .menu-nav-exit-img{
                        display: none;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [MENU - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */
                    .hamburger-menu{
                        background: rgba(243,244,246,255);
                    }
                    .checkout-delivery-btn{
                        margin-top: 1.5em;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */
        
        }

    /* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */










/* -------------------- ---------- LAPTOP ---------- -------------------- */

/* -------------------- ---------- LAPTOP ---------- -------------------- */

    /* -------------------- ---------- LAPTOP ---------- -------------------- */

        @media screen and (min-width: 1200px) {
              
            /* -------------------- -------------------- STYLES CREATED DURING [Home - PAGE] -------------------- -------------------- */
                /* -------------------- Nav container -------------------- */
                    /* Navbar container*/
                    .home-nav-wrap{
                        width: 75%;
                    }
                    .nav-split{
                        display: none;
                    }
                /* --------------------  -------------------- */



                /* --------------------  -------------------- */       
                    /* Popular container */
                    .popular-section-con{
                        width: 75vw;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .foot-scroll-con{
                        width: 75vw;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .scrollbar-padding-right{
                        padding-right: 4em;
                    }
                /* -------------------- --------------------  -------------------- */



                /* -------------------- Foot scroll container -------------------- */
                    .foot-scroll-con{
                        padding-bottom: 2em;
                    }
                    
                    .profile-container{
                        right: 26.5%;
                        width: 30%;
                    }
                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [Item - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */
                    .item-img-display{
                        width: 60%;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .item-section-con{
                        width: 75vw;
                        align-items: center;
                        justify-content: center;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .item-fixed-wrap{
                        width: 75%;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .item-btn-line{
                        height: 0.075em;
                        border-radius: 300em;
                        width: 100%;
                        -webkit-box-shadow: inset 0 0 6px rgba(225, 225, 225, 255);
                    }
                    .carousel-img-fluid{
                        max-height: 4em;
                    }
                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [LIST - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */
                 	.list-row{
                 		columns: 3;
                 	}
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                    .menu-nav-exit-img{
                        display: none;
                    }
                    .social-nav-con{
                        margin-bottom: 3em;
                    }
                    .social-input-con{
                        padding: 2.5em 1em 2.5em 1em;
                        background: rgba(255, 255, 255, 255);
                        border-radius: 1em;
                    }
                    .social-img{
                        display: none;
                    }
                    .facebook-social-display {
                        display: flex;
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [MENU - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */
                    .hamburger-menu{
                        background: rgba(243,244,246,255);
                    }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */
                .zip-pad{
                    margin-top: 2em;
                }
                .checkout-delivery-btn{
                    margin-top: 1em;
                }
                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */





            /* -------------------- -------------------- STYLES CREATED DURING [ - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */



                /* --------------------  -------------------- */

                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */
        }

    /* -------------------- ---------- LAPTOP ---------- -------------------- */

/* -------------------- ---------- LAPTOP ---------- -------------------- */

/* -------------------- ---------- LAPTOP ---------- -------------------- */